apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - helm-release.yaml
configMapGenerator:
  - name: flux-argo-values
    files:
      - ./charts/values.yaml
configurations:
  - kustomizeconfig.yaml
